<% provide(:title, t("user.index.title")) %>
<div id="page-content">
  <ul class="breadcrumb breadcrumb-top">
    <li><%= t "user.index.user" %></li>
    <li><a href=""><%= t "user.index.title" %></a></li>
  </ul>
  <div class="block full">
    <div class="block-title">
      <h1><%= t "user.index.title" %>
        |  <%= link_to t("user.index.create"), signup_path, class: "" %>
      </h1>
    </div>
    <div class="table-responsive">
      <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
        <thead>
          <tr>
            <th class="text-center"><%= t "user.index.id" %></th>
            <th class="text-center"><%= t "user.index.avatar" %></i></th>
            <th><%= t "user.index.name" %></th>
            <th><%= t "user.index.email" %></th>
            <th class="text-center"><%= t "user.index.action" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @users %>
        </tbody>
      </table>
    </div>
  </div>
</div>
