<div id="sidebar">
  <div class="sidebar-scroll">
    <div class="sidebar-content">
      <%= link_to raw('<i class="hi hi-home"></i> Home'), root_path, class: "sidebar-brand" %>
      <div class="sidebar-section sidebar-user clearfix">
        <div class="sidebar-user-avatar">
          <% if current_user.avatar? %>
            <%= image_tag current_user.avatar %>
          <% else %>
            <%= image_tag "placeholders/avatars/profile.png" %>
          <% end %>
        </div>
        <div class="sidebar-user-name"><%= current_user.name %></div>
        <div class="sidebar-user-links">
          <%= link_to current_user do %>
            <i class="gi gi-user"></i>
          <% end %>
          <%= link_to logout_path, method: :delete do %>
            <i class="gi gi-exit"></i>
          <% end %>
        </div>
      </div>
      <!-- END User Info -->
      <!-- Sidebar Navigation -->
      <ul class="sidebar-nav">
        <li class="sidebar-header">
          <span class="sidebar-header-title" style="font-size: 25px">Workspace</span>
        </li>
        <% if current_user.admin? %>
        <li><%= link_to raw('<i class="fa fa-users fa-fw"></i> Users'), users_path%></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
